/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}

.warning-snackbar {
  background-color: #ff9800;
  color: white;
}
/* Success Snackbar */

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: #4caf50;
    --mat-mdc-snack-bar-button-color: white;
  }

  &.error-snackbar {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: white;
  }

  &.warning-snackbar {
    --mdc-snackbar-container-color: #ff9800;
    --mat-mdc-snack-bar-button-color: white;
  }
}
